/* --------------------Variables */

:root {
  --green-color: #7acc2d;
  --white-color: white;
  --black-color: #313131;
  /*Tipografía*/
  --normal: 12px;
  /*Espaciado*/
  --space: 10px;
  /*Box shadow*/
  --box: 0px 0 2px 1px #e6e5e9;
}

/* --------------------Variables */
html,
body {
  padding: 0;
  margin: 0;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav li {
  padding-right: 20px;
  list-style: none;
}
nav li a {
  color: var(--black-color);
  text-decoration: none;
}
nav li a:hover {
  color: var(--white-color);
}

/* Main section */
.main_section {
  padding: 15%;
  text-align: center;
}
.products {
  background-image: url("../images/curve.png");
  height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display: flex;
}
.product {
  padding: var(--space);
  margin-top: -240px;
}
.product .content {
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
}
.img_content {
  text-align: center;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}
.main_button:hover {
  background-color: #5e9e22;
}
.cards{
    display:flex;
    padding: 5% 10%;
    justify-content: space-between;

}
.cards img{
    display: block;
    margin: 0% auto;
    width: 60%;
}
.cards .card{
    padding: 5%;
}
.cards .card h3,
.cards .card p{
    margin-left:10% ;
}
.mentions{
    padding: 0%,10%,5%;
}
.mentions h2{
    text-align: center;
}
.mentions .items{
    display: flex;
}
.mention {
    box-shadow: var(--box);
    margin: 5px;
}
.mention img {
    width: 100%;
}
.mention h3, .mention p{
    padding: 5px;
    margin: 0%;
}